.note {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  
  &:first-of-type {
    border-top: 1px solid #ddd;
  }
  
  h2 {
    font-size: 1.125rem;
    margin-top: 0;
  }
  
  footer {
    margin-top: .5rem;

    a {
      display: inline-block;
      margin-right: .5rem;
    }
  }
}